<!-- <p>home works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">
            <span class="highlight">Flexible</span> Rates<br>
            for Every Journey
          </h1>
          <!-- <button class="sign-up-btn">Sign Up</button> -->
          <button class="sign-up-btn" routerLink="/mode" >Sign Up</button>
        </div>
      </div>
       <!-- Why Choose Section -->
    <section class="why-choose">
        <h2>Why choose RevOn Rental?</h2>
        <div class="features">
            <div class="feature-item">
                <img src="../assets/images/car_icon.png" alt="Reliable Vehicle">
                <h2>Reliable Vehicle</h2>
                <p>Choose from our fleet of reliable cars, bikes, and bicycles.</p>
            </div>
            <div class="feature-item">
                <img src="../assets/images/customer_icon.png" alt="Customer Help">
                <h2>Customer Support</h2>
                <p>24/7 support to assist you at every step of the way.</p>
            </div>
            <div class="feature-item">
                <img src="../assets/images/support_icon.png" alt="Customer Support">
                 <h2>Customer Role</h2>
                <p>Our team is available to resolve your concerns promptly.</p>
            </div>
            <div class="feature-item">
                <img src="../assets/images/hassle_icon.png" alt="Hassle Free">
                <h2>Hassle Free</h2>
                <p>Simple booking process and transparent pricing.</p>
            </div>
        </div>
    </section>

    <!-- Vehicles Section -->
    <section class="vehicles">
        <h2>Vehicles you can rent with RevOn Rental</h2>
        <div class="vehicle-items">
            <div class="vehicle-item">
                <div class="vehicle-box">
                    <img src="../assets/images/car.png" alt="Car">
                </div>
                
            </div>
            <div class="vehicle-item">
                <div class="vehicle-box">
                    <img src="../assets/images/bike.png" alt="Motorbike">

                </div>
            </div>
            <div class="vehicle-item">
                <div class="vehicle-box">
                    <img src="../assets/images/bicycle.png" alt="Bicycle">
                   
                </div>
                
            </div>
        </div>
    </section>
    <div class="faq">
    <h2>Frequently Asked Question</h2>
    <ul class="accordion">
        <li>
            <input type="radio" name="accordion" id="first">
            <label for="first">What kind of vehicle can I rent?</label>
            <div class="content">
                <p>You can rent a variety of vehicles, including cars, scooter, motorbike, and bicycles, depending on the service providers available in your area.</p>
            </div>
        </li>

        <li>
            <input type="radio" name="accordion" id="third">
            <label for="third">What payment method do you accept?</label>
            <div class="content">
                <p>We offer two convenient payment options.you can pay online during booking with secure online payment mehtods include esewa.also you pay after pickup using cash or online </p>
            </div>
        </li>
        <li>
            <input type="radio" name="accordion" id="fourth">
            <label for="fourth">Can I modify or cancel my booking?</label>
            <div class="content">
                <p>Yes, you can modify or cancel your reservation up to 24 hours before the rental start time. Visit your account dashboard, go to “My Reservations,” and choose the option to either modify or cancel.</p>
            </div>
        </li>
        <li>
            <input type="radio" name="accordion" id="fifth">
            <label for="fifth"> Can I rent a vehicle without an account?</label>
            <div class="content">
                <p>No, you need to have a registered account to rent a vehicle. Having an account allows you to manage your bookings, make payments, and track reservations more easily.</p>
            </div>
        </li>
        <li>
            <input type="radio" name="accordion" id="sixth">
            <label for="sixth"> How can I list my vehicles for rent?</label>
            <div class="content">
                <p>If you’re a business looking to list your vehicles, sign up as a business. Once your account is verified, you can start adding vehicles to the platform through your provider dashboard.</p>
            </div>
        </li>

        <li>
            <input type="radio" name="accordion" id="seventh">
            <label for="seventh">Can I return the vehicle to a different location?</label>
            <div class="content">
                <p>Some providers allow one-way rentals where you can return the vehicle to a different location, while others require you to return it to the original pickup point. Check with the service provider for specific policies.</p>
            </div>
        </li>
    </ul>
</div> 
</body>
</html>
<router-outlet></router-outlet>