<!-- <p>contact works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Contactus - RevOn Rental</title>
</head>
<body>
    <section class="hero-section">
        <div class="hero-image">
            <h1>Contact Us</h1>
        </div>
    </section>
    <section class="contact-form">
        <form action="#" method="POST">
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <textarea id="message" name="message" rows="4" placeholder="Message" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-item">
                <i class="fa-solid fa-phone"></i>
                <p>9856342592 (+977)</p>
            </div>
            <div class="footer-item">
                <i class="fas fa-envelope"></i>
                <p>revonrental345gmail.com</p>
            </div>
            <div class="footer-item">
               <i class="fas fa-clock"></i>
                <p>24/7</p>
            </div>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
</body>
</html>



