<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="back">
        <div class="container">
            <div class="form-wrapper">
                <h1>Company</h1>
                <form>
                    <div class="input-group">
                        <label for="business-registration">Business Registration Number</label>
                        <input type="text" id="business-registration" placeholder="Enter registration number">
                    </div>
                    <div class="upload-card">
                        <p >Business Registration Document</p>
                        <img src="../assets/images/businessdoc.png" alt="">
                        <button>Add a photo</button>
                    </div>
                  <button type="submit" class="next-button">Next</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html> 
