<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- <li ><a  routerLink="add-vehicle">Home</a></li> -->
    <div class="back">

        <div class="container">
            <div class="business-type-section">
                <h2>Business Type</h2>
                 <button class="option " routerLink="/basicinfo" >Individual <i class="fa-solid fa-greater-than"></i></button>
                <!-- <button class="option " routerLink="individual-info"  >Individual <i class="fa-solid fa-greater-than"></i></button> -->
                <button class="option" routerLink="/company">Company <span></span><i class="fa-solid fa-greater-than"></i></button>
                <button class="next-btn">Next</button>
            </div>
        </div>    
    </div>
</body>
</html>
    <router-outlet></router-outlet>
