<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="back">
        <div class="container">
            <div class="individual-section">
                <h2>Individual</h2>
                
                <div class="input-group">
                    <label for="driver-license">Driver License Number</label>
                    <input type="text" id="driver-license" placeholder="Enter your driver license number">
                </div>
    
                <div class="upload-grid">
                    <div class="upload-card">
                        <p>The front of Driver’s License</p>
                        <img src="../assets/images/license.png" alt="">
                
                        <button>Add a photo</button>
                    </div>
                    <div class="upload-card">
                        <p >Bill Book</p>
                        <img src="../assets/images/billbook.png" alt="">
                        <button>Add a photo</button>
                    </div>
                    <div class="upload-card">
                        <p>The front of National ID Card</p>
                        <img src="../assets/images/front.png" alt="">
                        <button>Add a photo</button>
                    </div>
                    <div class="upload-card">
                        <p>The back of National ID Card</p>
                        <img src="../assets/images/back.png" alt="">
                        <button>Add a photo</button>
                    </div>
                </div>
                 <button class="next-btn" routerLink="./add-vehicle">Next</button>
            </div>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>
