<!-- <p>mode works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Mode</title>
</head>

<body>
    <div class="container">
        <div class="mode-content">
            <div class="image-container">
                <img src="../assets/images/hero.png" alt="Blue car" class="car-image">
            </div>
            <div class="content">
                <h1>Choose Mode</h1>
                <div class="button-container">
                    <!-- <button class="mode-button" routerLink="user-signup">User Mode</button> -->
                    <button class="mode-button" routerLink="./signup" >User Mode</button>
                    <button class="mode-button" routerLink="/business-type">Business Mode</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<router-outlet></router-outlet>



