<!-- <p>addvehicle works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="back">
       <div class="container">
        <div class="add-vehicle-container">
            <h1>Add Vehicle</h1>
            <button class="radio-option " routerLink="./carinfo">Car</button>
            <button class="radio-option " routerLink="./scooter">Scooter</button>
            <button class="radio-option " routerLink="./bicycle">Bicycle</button>
            <!-- <form action="#">
                <div class="radio-option">
                    <input type="radio" id="car" name="vehicle" value="car">
                    <label for="car"><i class="fas fa-car" ></i> Car</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="scooter" name="vehicle" value="scooter">
                    <label for="scooter"><i class="fas fa-motorcycle"></i> Scooter/Bike</label>
                </div>
                <div class="radio-option">
                    <input type="radio" id="bicycle" name="vehicle" value="bicycle">
                    <label for="bicycle"><i class="fas fa-bicycle"></i> Bicycle</label>
                </div>
                <button type="submit" class="next-btn" >Next</button>
            </form> -->
        </div>
       </div> 
    </div>
</body>
</html>
<router-outlet></router-outlet>