<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - RevOn Rental</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="hero-section">
        <div class="hero-image">
            <h1>Services</h1>
        </div>
    </section>

    <section class="services-content">
        <p>At RevOn Rental, we ensure you reach your destination and return with ease, all while keeping it affordable and hassle-free.</p>

        <div class="optional-services">
            <h2>Optional Services</h2>
            <div class="service-items">
                <div class="service-box">
                    <h3>Flexible Rental Duration</h3>
                    <p>Enjoy flexible rental durations, such as hourly, daily, weekly, or longer, to meet your needs. We offer discounts on extended rental periods to enhance cost savings.</p>
                </div>
                <div class="service-box">
                    <h3>Multi-Vehicle Booking</h3>
                    <p>Allow users to book multiple vehicles in a single transaction, ideal for group trips or corporate bookings that require more than one vehicle.</p>
                </div>
                <div class="service-box">
                    <h3>Corporate & Business Solutions</h3>
                    <p>Tailor specific services for corporate clients, with bulk discounts, custom invoicing, and dedicated support for businesses.</p>
                </div>
                <div class="service-box">
                    <h3>Customizable Vehicle Branding</h3>
                    <p>Business owners can have custom branding and logos, perfect for promotions, partnerships, or business transportation needs.</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-item">
                <i class="fa-solid fa-phone"></i>
                <p>9856342592 (+977)</p>
            </div>
            <div class="footer-item">
                <i class="fas fa-envelope"></i>
                <p>revonrental345gmail.com</p>
            </div>
            <div class="footer-item">
               <i class="fas fa-clock"></i>
                <p>24/7</p>
            </div>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>

</body>
</html>

