<!-- <p>search works!</p> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="search-container">

        <div class="image"></div>
        <div class="search-form">
            <div class="vehicle-type">
                <button class="car">
                    <!-- <img src="../assets/images/car.png" alt="Blue car" class="car"> -->
                </button>
                <button class="bike">
                    <i></i>
                </button>
                <button class="bicycle">
                    <!-- <img src="../assets/images/cycle.png" alt="cycle" class="cycle"> -->
                </button>
            </div>
            <div class="form-row">
                <div class="input-group">
                    <i></i>
                    <input type="text" placeholder="Enter your pickup location">
                </div>
                <input type="date" value="2024-12-11">
                <input type="time" value="12:00">
            </div>
            <div class="form-row">
                <div class="input-group">
                    <i></i>
                    <input type="text" placeholder="Enter your destination">
                </div>
                <input type="date" value="2024-12-11">
                <input type="time" value="12:00">
            </div>
        </div>
    </div>

    <!-- <div class="input-box">
            <span>Enter your Pick Up location</span>
            <input type="search" name="" id="" placeholder="Search Places">
        </div>
        <div class="input-box">
            <span>Pick-Up Date</span>
            <input type="date" name="" id="">
        </div>
        <div class="input-box">
            <span>Timee</span>
            <input type="time" name="" id="">
        </div>
    </div>

    </form>

    </div> -->

</body>

</html>
