

.hero-section {
    position: relative;
    text-align: center;
}

.hero-image {
    background-image:  url('/assets/images/mountain.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-form {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------faq--------- */
.faq{
    padding: 10px 12%;
    text-align:center ;
    font-size: 18px;
    }
    .faq h2{
        font-weight: 500;
        font-size:40px ;
    }
    .accordion{
        margin: 60px auto;
        width: 100%;
        max-width: 750px;
    
    }
    .accordion li{
        list-style: none;
        width: 100%;
        padding: 5px;  
    }
    .accordion li label{
        display: flex;
        align-items: center;
        padding: 20px;
        font-size: 18px;
        font-weight: 500;
        background: #863884;
        color: #fff;
        margin-bottom: 2px;
        cursor: pointer;
        position: relative;
    }
    
    label::after{
        content:'+';
        font-size: 34px;
        position: absolute;
        right: 20px;
        transition: transform 0.5s;
      }
    input[type="radio"]{
        display: none;
    }
    .accordion .content{
      color: #fff;
        background:#863884;
        text-align: left;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
    }
    .accordion input[type="radio"]:checked + label + .content{
        max-height: 600px;
        padding: 30px 20px;
    }
    .accordion input[type="radio"]:checked + label::after {
        transform: rotate(135deg);
    }
  
  
  
footer {
    background-color:#5a007d;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.footer-item i {
    font-size: 24px;
    margin-bottom: 8px;
}

.footer-item p {
    margin: 0;
    font-size: 16px;
}

.social-icons {
    margin-top: 20px;
    margin-left: 56px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #d4b2d8; /* Lighter purple shade on hover */
}
