<!-- <p>faq works!</p> -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <title>FAQ - RevOn Rental</title>
 </head>
 <body>
     <section class="hero-section">
         <div class="hero-image">
             <h1>FAQ</h1>
         </div>
     </section>
     <div class="faq">
        <h2>Frequently Asked Question</h2>
        <ul class="accordion">
            <li>
                <input type="radio" name="accordion" id="first">
                <label for="first">What kind of vehicle can I rent?</label>
                <div class="content">
                    <p>You can rent a variety of vehicles, including cars, scooter, motorbike, and bicycles, depending on the service providers available in your area.</p>
                </div>
            </li>
    
            <li>
                <input type="radio" name="accordion" id="third">
                <label for="third">What payment method do you accept?</label>
                <div class="content">
                    <p>We offer two convenient payment options.you can pay online during booking with secure online payment mehtods include esewa.also you pay after pickup using cash or online </p>
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="fourth">
                <label for="fourth">Can I modify or cancel my booking?</label>
                <div class="content">
                    <p>Yes, you can modify or cancel your reservation up to 24 hours before the rental start time. Visit your account dashboard, go to “My Reservations,” and choose the option to either modify or cancel.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="fifth">
                <label for="fifth"> Can I rent a vehicle without an account?</label>
                <div class="content">
                    <p>No, you need to have a registered account to rent a vehicle. Having an account allows you to manage your bookings, make payments, and track reservations more easily.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="sixth">
                <label for="sixth"> How can I list my vehicles for rent?</label>
                <div class="content">
                    <p>If you’re a business looking to list your vehicles, sign up as a business. Once your account is verified, you can start adding vehicles to the platform through your provider dashboard.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="seventh">
                <label for="seventh">Can I return the vehicle to a different location?</label>
                <div class="content">
                    <p>Some providers allow one-way rentals where you can return the vehicle to a different location, while others require you to return it to the original pickup point. Check with the service provider for specific policies.</p>
                </div>
            </li>
        </ul>
    </div> 
     <footer>
         <div class="footer-container">
             <div class="footer-item">
                 <i class="fa-solid fa-phone"></i>
                 <p>9856342592 (+977)</p>
             </div>
             <div class="footer-item">
                 <i class="fas fa-envelope"></i>
                 <p>revonrental345gmail.com</p>
             </div>
             <div class="footer-item">
                <i class="fas fa-clock"></i>
                 <p>24/7</p>
             </div>
         </div>
         <div class="social-icons">
             <a href="#"><i class="fab fa-linkedin"></i></a>
             <a href="#"><i class="fab fa-facebook"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
         </div>
     </footer>
 </body>
 </html>
 
 
 
 