

.hero-section {
    position: relative;
    text-align: center;
}

.hero-image {
    background-image:  url('/assets/images/mountain.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.services-content {
    padding: 50px;
    text-align: center;
    background-color: #f9f9f9;
}

.optional-services h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.service-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box {
    width: 45%;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #5a007d;
}

footer {
    background-color: #5a007d;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-icons img {
    width: 30px;
    margin: 0 10px;
}
